* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
    
  }
body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    background-color: #fff;
    background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(161,161,161,0.2) 100%);
    background-color: rgba(205,205,205,0.5);
    
    top: 0px;
    width: 100%;
    height: 8vh;
    margin:auto;
    align-items: center;
}

.nav-links {
    display: flex;
}

.logo{
    display: flex;
    margin: auto;
    height: 12vh;
    align-items: center;
}
.logo-container{
    flex: 1;
}
nav {
    
    flex: 2;
    
}
.nav-links{
    justify-content: space-around;
    list-style: none;
    
}

.nav-link{
    color: rgb(31, 63, 78);
    /*background: rgb(223,223,223);
background: radial-gradient(circle, rgba(223,223,223,0.9808298319327731) 0%, rgba(255,255,255,1) 50%, rgba(197, 202, 255, 0.5) 80%); */
    font-size: 2.5vh;
    font-weight: 600;
    
    /*
    padding: 10px;
    border:1px solid rgb(35,50,61);
    border-radius: 100px;
    */
    text-decoration: none;
}
body{
    background-image: url(images/homeBG.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 89.5vh;
    align-items: center;
    justify-content: space-around;
    
}
.intro-text{
    width: 50%;
    text-align: center;
    margin-left: 3vw;
    margin-bottom: 6vh;
    
}
.intro-text h1{
    font-size: 8vh;
    padding: 3vh;
    font-weight: 525;
}
.intro-text p{
    font-size: 3vh;
    font-weight: 300;
}
.video{
    height: 32vh;
    width: 32vw;
    
    /* border: 5px solid rgb(200, 228, 247); */
    border-radius: 10px;
    
}
.shadow-box{
    box-shadow: 5px 5px 20px 5px #888;
}
footer{
    position: absolute;
    width:  100%;
    margin-bottom: 0%;
    background-color: #fff;
    background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(161,161,161,0.2) 100%);
    background-color: rgba(205,205,205,0.5);

    text-align: center;
}
.footer-text{
    color: black;
    font-size: 1.6vh;
    font-weight: 300;
    position:  relative;
    width: 100%;
    margin: auto;
}

.body-rest{
    background-image: url(images/background2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}
.plot-presentation, .actors-presentation, .bts-presentation, .dyk-presentation{
    width: 100%;
    
    height: 80%;
    margin: auto;
    margin-top: 3%;
    
}
.plot, .actors, .bts, .dyk{
    width: 90%;
    height: 90%;
    
    margin: auto;
    align-self: center;
    background-color: #fff;
    background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(161,161,161,0.2) 100%);
    background-color: rgba(205,205,205,0.5);
    margin-bottom: 3%;
}
.plot-text h1{
    text-align: center;
    font-size: 4.5vh;
    font-weight: 600;
}
.plot-text p{
    padding: 1.5vh;
    font-size: 1.72vh;
}
.plot-paragraph1, .plot-paragraph2, .plot-paragraph3, .plot-paragraph4, .plot-paragraph5{
    width: 95%;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 2vh;
}
.blight-image, .wave-image, .mann-image, .tesseract-image, .cooper-station-image{
    width: 22vw;
    height: auto;
    border-radius: 1.2vh;
}

.actors-text h1{
    text-align: center;
    font-size: 4.5vh;
    font-weight: 600;
}
.actors-text p{
    padding: 1.5vh;
}

.actors-wrapper{
    width: 95%;
    height: 67.5vh;
    align-items: center;
    margin: auto;
    margin-top: 6vh;
}
.actors-row{
    display: flex;
    margin: auto;
    margin-top: 6vh;
    justify-content: space-around;
    
}
.actors-box{
    /* background-color: #fff8de; */
    background-color: #D8D1C1;
    border-radius: 10px;
}
.actors-box p{
    text-align: center;
}
.film-portrait {
    width: 12vw;
    height: 24vh;
    object-fit: cover;
    border-radius: 10px;
}

.cooper-portrait{
    
}
.murph-portrait {
    object-position: 0 0;
}
.brand-portrait{

}
.romily-portrait{
    object-position: 17% 0;

}
.doyle-portrait{
    object-position: 35% 0;
}
.tars-portrait{
    object-position: 0 0;
}
.mann-portrait {
    object-position: 70% 0;
}

.professor-portrait{
    object-position: 60% 0;
}
.actors-footer{
    bottom: 0vh;
}

.bts-text{
    width: 95%;
    margin: auto;
}
.bts-text h1{
    text-align: center;
    font-size: 4.5vh;
    font-weight: 600;
}
.bts-text p{
    padding: 2vh;
}



.bts-images{
    
    width: 95%;
    margin: auto;
}
.bts-images-row{
    
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
.bts-images-row1{
    
}
.bts-images-row2{
    
}
.bts-images-row3{
    
}
.bts-images-row4{
    
}
.bts-image{
    object-fit: cover;
    border-radius: 10px;
    height: 48vh;
    width: auto;
}
.bts-image5, .bts-image6{
    height: 48vh;
    width: 39vw;
}
.bts-image7{
    height: auto;
    width: 95%;
}